<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Informações do PC</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <nav class="column-data-view">

        {% for pc_info in machine %}
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Marca</p>
                <p class="heading"> {{ pc_info.marca }} </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Modelo</p>
                <p class="heading"> {{ pc_info.modelo }} </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Nome</p>
                <p class="heading"> {{ pc_info.nome }} </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Quantidade de CPU's</p>
                <p class="heading"> {{ pc_info.qtd_cpu }} </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Arquitetura</p>
                <p class="heading"> {{ pc_info.arquitetura }} </p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="data-title-view">Familia</p>
                <p class="heading"> {{ pc_info.familia }} </p>
            </div>
        </div>
        {% endfor %}
    </nav>
    </thead>
    </section>
</body>

</html>