<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <table class="table is-fullwidth is-striped is-bordered">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Nome</th>
                        <th>Quantidade de CPU's</th>
                        <th>Arquitetura</th>
                        <th>Familia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pc_info in machine %}
                    <tr>
                        <th> {{ pc_info.marca }} </th>
                        <td> {{ pc_info.modelo }} </td>
                        <td> {{ pc_info.nome }} </td>
                        <td> {{ pc_info.qtd_cpu }} </td>
                        <td> {{ pc_info.arquitetura }} </td>
                        <td> {{ pc_info.familia }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
    </section>
</body>

</html>